@page
@model WEB_253504_Sapronenko.UI.Areas.Admin.Views.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DotaHero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DotaHero.Id" />
            <div class="form-group">
                <label asp-for="DotaHero.Name" class="control-label"></label>
                <input asp-for="DotaHero.Name" class="form-control" />
                <span asp-validation-for="DotaHero.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DotaHero.Description" class="control-label"></label>
                <input asp-for="DotaHero.Description" class="form-control" />
                <span asp-validation-for="DotaHero.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DotaHero.BaseDamage" class="control-label"></label>
                <input asp-for="DotaHero.BaseDamage" class="form-control" />
                <span asp-validation-for="DotaHero.BaseDamage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DotaHero.Image" class="control-label"></label>
                <input asp-for="DotaHero.Image" class="form-control" />
                <span asp-validation-for="DotaHero.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
