@model SelectList
@{
    ViewBag.Title = "Лабораторная 1";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />

</head>
<body>
    <main class="container">
        <section>
            <h1>@ViewBag.LabTitle</h1>
            <h2>Список</h2>
            <ol type="A">
                @for(int i = 1; i < 3; i++)
                {
                    <li>Элемент @i списка</li>
                }
            </ol>
            <hr />
            <h2>Форма</h2>
            <form method="post">

                <select asp-items="@Model" style="margin-left:15%" name="listDemo">

                </select>
                <br />
                <input type="checkbox" style="margin-left:15%">Чек-бокс 1</input>
                <br />
                <input type="checkbox" style="margin-left:15%">Чек-бокс 2</input>
                <br />
                <br />
                <input type="radio" style="margin-left:15%">Радио 1</input>
                <input type="radio" style="margin-left:2%">Радио 2</input>
                <input type="radio" style="margin-left:2%">Радио 3</input>
                <br />
                <label>Логин:</label>
                <input style="margin-left:10%; width:700px; border-color:lightgray;border-radius:5px; height:37px" type="text" placeholder="Введите имя"/>
                <br />
                <br />
                <label>Пароль:</label>
                <input style="margin-left:10%; width:700px; border-color:lightgray;border-radius:5px; height:37px" type="password" placeholder="Введите пароль" />
                <br />
                <button style="background-color:darkcyan;color:white;height:40px;width:100px;border-radius:5px; border-width:0px;">Отправить</button>
            </form>
        </section>
    </main>
</body>
</html>