@using WEB_253504_Sapronenko.Domain.Models


@model ListModel<WEB_253504_Sapronenko.Domain.Entites.DotaHero>

@{
    ViewBag.Title = "Список героев";
}

<body>
    <div class="container">
        <h1 class="my-4">Список героев</h1>
        <div class="col-2 border-2">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-expanded="false">
                        @ViewBag.currentCategory
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-controller="Hero" asp-action="Index" asp-route-category="@null">Все</a>
                        </li>
                        @foreach (var item in ViewBag.categories)
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Hero" asp-action="Index" asp-route-category="@item.NormalizedName">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>

        </div>

        <div id="heroListContainer">
            @await Html.PartialAsync("_HeroListPartial", Model)
        </div>
</body>

